<% content_for :pack do %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'hello_vue' %>
  <%= stylesheet_pack_tag 'hello_vue' %>
<% end %>

<input type="hidden" id="current_user_id" value="<%= current_user.id %>">
<input type="hidden" id="current_server_date" value="<%= Date.today %>">


<h1>Cards#index</h1>
