<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EngNotes</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <% # ref. cards/index.html.erb  %>
    <%= yield :pack %>
  </head>

  <body>
    <div class="wapper position-relative" style="min-height: 100vh; padding-bottom: 50px; box-sizing: border-box;">
      <%= render 'shared/header' %>

      <div class="container my-5">
        <% if notice || alert %>
          <div class="flash fixed-top card text-center bg-light p-2" style="top: 75px;">
            <p class="notice text-info m-0"><%= notice %></p>
            <p class="alert text-danger m-0 border-0 p-0"><%= alert %></p>
          </div>
        <% end %>

        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
