<!DOCTYPE html>
<html>
  <head>
    <title>MemorizationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <% # ref. cards/index.html.erb  %>
    <%= yield :pack %>
  </head>

  <body>
    <div class="wapper position-relative" style="min-height: 100vh; padding-bottom: 50px; box-sizing: border-box;">
      <%= render 'shared/header' %>

      <div class="container my-5">
        <div class="flash">
          <% if notice %>
            <p class="notice text-info"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert text-danger"><%= alert %></p>
          <% end %>
        </div>

        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
