<!DOCTYPE html>
<html>
  <head>
    <title>MemorizationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :pack %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p>Hey, <%= current_user.username %></p>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
